[user]
  name = Inny
  email = inmatarian@gmail.com
[alias]
  ci = commit
  lg = log --graph --pretty=format:'%Cred%h%Creset %s%Cred%d%Creset %Cgreen(%cr by %cN)%Creset'
  branches = branch -a -v -v
  changes = status --short
[color]
  branch = auto
  diff = auto
  grep = auto
  interactive = auto
  page = auto
  status = auto
  ui = auto

